body{
  display: inline-flexbox;
  margin: 0 0 0 0;
}

div{
  border-style: dashed;
}

header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 1%;
  font-size: 200%;

}



.img1{
  width:200px;
  height: 200px;
}

.title h1, .title h6{
  margin: 0 0 0 0;
  position: relative;  
}
.title h1{
  padding-top: 50px;
}
.title h6{
  padding-bottom: 50px;
}

.contant-info{
  margin: 0 0 0 0;
  display: inline-flexbox;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 600px;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  width:100%;
  height:100%;
  position:absolute;
}

.contant{
  float: left;
}

.contant-info .contant h4{
  margin: 0 0 0 0;
  position: relative;
}
.contant-info .contant h5{
  margin: 0 0 0 0;
  position: relative;
}


.experience{
  margin: 50px 0px 0px 0px;
}

.container {
  display: grid;
}